body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fce0ef; /* Soft, romantic pink */
    font-family: 'Lobster Two', cursive; /* Elegant, Valentine's-y font */
}

.header_text {
    font-size: 50px;
    font-weight: bold;
    color: #8b0000; /* Deep red for contrast */
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}

.gif_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
